<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="davatakipoto.Properties.Settings.davatakipotomasayonuConnectionString"
            connectionString="Data Source=DESKTOP-BBH06M4;Initial Catalog=davatakipotomasayonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>